/* style sheets for the panovision app */

.default_background{
	background-image:url('../images/hixs.png');
	margin: 0px auto;
}

#canvas{
	width: 900px;
	height: 600px;
	image-rendering: crisp-edges;
}